
.chat-window {
  height: 200px;
  width: 300px;
  border: 1px solid black;
  overflow: scroll;
}

.chat-window .metadata {
  font-size: 12px;
}

.chat-window .metadata .author {
  margin-left: 5px;
}

.sent-message {
  text-align: end;
}